@media screen and (max-width: 767px) {
  .inner-image {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .inner-image {
    max-width: 109px;
    max-height: 90px;
    transition: all .1s ease-out;
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .main-image {
    margin-top: 12%;
    max-width: 400px;
    max-height: 300px;
    margin-bottom: 10%;
    transition: all .1s ease-out;
    position: absolute;
    bottom: 13%;
    right: 25%;
  }
}

.btn-secondary:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 203, 71);
    border-color: rgb(255, 203, 71);
}

.btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    opacity: 0.4;
    border-color: #6c757d;
    pointer-events :none;
}

.main-container {
  display: flex;
}
.component-display {
  width: 100%;

  .top-div-text {
    height: 60px;
    width: 100%;
    padding-top: 20px;
    padding-left: 70px;
    font-size: 25px;
  }

  .component-infos {
    z-index: 1;
    width: 100%;
    text-align: center;
    padding: 0 0 0 0;

    .component-description {
      text-align: center;
      border-top: #979A96 solid 1px;
      font-size: 12px;
      min-height: 50px;
      margin: 0 80px 14px 80px;
      padding-top: 8px;
    }

    .component-navigation {
      padding: 10px 0;
      margin-bottom: 25px;

      input[type=submit], a.btn {
        background-color: transparent;
        color: #666666;
        font-family: "Roboto", sans-serif;
        font-size: 1.0em;
        width: 130px;
        border-color: $medium-gray;
        z-index: 100;
        margin: 0 15px;
        border-radius: 2px;
        &:hover {
          background-color: #FFCB47 !important;
          border-color: #FFCB47;
          color: white;
        }
        a {
          background-color: transparent !important;
          border-color: black solid 1px !important;
        }
      }
    }
  }

  .image-container {
    width: 100%;
    height: calc(65% - 50px);
    background-position: center 33%;
    background-size: 30%;
    background-repeat: no-repeat;
  }
}

body.c_components.a_index {
  background-color: $light-gray;
}

.component-name {
  font-weight: bolder;
  margin-top: 15px;
}

.component-picture {
  width: 76%
}

.component-details {
  width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
  flex-direction: column;
  p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 20px;
  }
}
.component-selector {
  flex: 0 0 450px;
  height: calc(100vh - 80px);
  overflow: scroll;
  z-index: 95;
  border-radius: 2px;
  background-color: white;
}

.components {
  background-color: $light-gray;
  opacity: 0.6;
  position: relative;
  border-radius: 2px;
  z-index: 97;
  text-align: center;
  padding: 50px;
  height: 218px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: #979A96 solid 15px;
  transition: 0.15s;
  margin: 5px 0 0 0;

  &.first {
    margin-top: 0 !important;
  }
}

.category-icon {
  max-width: 25px;
  margin-right: 15px;
}

.btn-finish {
  background-color: #FFCB47;
  border-color: #FFCB47;
  color: white;
  opacity: 0.8;
  transition: 0.15s;
  &:hover {
    opacity: 1;
  }
}

.big-label {
  display: block;
  margin-bottom: 0;
  cursor: pointer;
  button, input {
    display: none;
  }
}

.footer-image {
  width: auto;
  height: 10px;
}

.active, .components:hover {
  background-color: $light-gray;
  opacity: 1;
  color: black;
  border-left: $yellow solid 15px;
}

.component-button:checked ~ .components {
  background-color: $light-gray;
  opacity: 1;
  color: black;
  border-left: $yellow solid 15px;
}

.recommended-category {
  display: block;
  margin-bottom: 0;
  cursor: pointer;
  button, input {
    display: none;
  }

  .components {
    // border-left: $yellow solid 15px;
    border-left: $dark-purple solid 15px;
  }
  .recommended-text {
    display: block;
  }
}

.recommended-text {
  position: absolute;
  color: $dark-purple;
  border-radius: 4px;
  border: $dark-purple solid 1px;
  background-color: white;
  bottom: 15px;
  margin-left: 46px;
  left: 2px;
  font-size: 10px;
  padding: 5px 8px;
  font-weight: 400;
  display: none;
}

// styles for tooltips

.tooltip-inner {
    max-width: 150px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #3A3042;
    border-radius: .25rem;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 5px 5px 0;
    border-top-color: #3A3042;
}

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
    margin-top: -3px;
    content: "";
    border-width: 5px 5px 5px 0;
    border-right-color: #3A3042;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 0 5px 5px;
    border-bottom-color: #3A3042;
}

.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
    right: 0;
    margin-top: -3px;
    content: "";
    border-width: 5px 0 5px 5px;
    border-left-color: #3A3042;
}