// .main-div {
//   background-color: #4B4253;
//   opacity: 0.5;

//   position: relative;
//   width: 100%;
//   height: 550px;
//   border-radius: 2px;
//   margin-top: 50px;
// }

// MV - CSS to size images inside component views, linked with innerdiv CSS

@media screen and (max-width: 767px) {
  .inner-image {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .inner-image {
    max-width: 109px;
    max-height: 90px;
    transition: all .1s ease-out;
    margin-right: 10px;
  }
}

// @media screen and (max-width: 767px) {
//   .main-image {
//     max-width: 200px;
//     max-height: 150px;
//     padding-top: 20%;
//     margin-bottom: 5%;
//     transition: all .1s ease-out;
//   }
// }

@media screen and (min-width: 768px) {
  .main-image {
    margin-top: 12%;
    max-width: 400px;
    max-height: 300px;
    margin-bottom: 10%;
    transition: all .1s ease-out;
    position: absolute;
    bottom: 13%;
    right: 25%;
  }
}

.next {
  background-color: transparent;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-top: 60%;
  position: absolute;
  bottom: -2%;
  right: 15%;
  width: 200px;
  border-color: $medium-gray;
  z-index: 100;
  border-radius: 2px;
    &:hover {
    // background-color: #FFCB47 !important;
    // border-color: #FFCB47;
  }
  a {
    background-color: transparent !important;
    border-color: black;
  }
}

.previous {
  background-color: transparent;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-top: 60%;
  position: absolute;
  bottom: -2%;
  left: 30%;
  width: 200px;
  border-color: $medium-gray;
  z-index: 100;
  border-radius: 2px;
     &:hover {
    background-color: #FFCB47 !important;
    border-color: #FFCB47;
  }
  a {
    background-color: transparent !important;
    border-color: black solid 1px !important;
  }
}

.btn-secondary:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 203, 71);
    border-color: rgb(255, 203, 71);
}

.btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    opacity: 0.4;
    border-color: #6c757d;
    pointer-events :none;
}

.main-container {
  display: flex;
  height: 400px;
}

.top-div {
 // background-color: $light-gray;
  display: flex;
  position: absolute;
  width: 60%;
  height: 72%;
  z-index: 90;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-top: 2%;
}

.top-div-text {
  height: 30px;
  width: 100%;
  padding-top: 2px;
  padding-left: 70px;
  font-size: 25px;
}

// MV - I added the flex display in order to center the image inside innerdiv

// .inner-div {
//   // background-color: $gray;
//   position: relative;
//   width: 100%;
//   height: 510px;
//   z-index: 95;
//   border-radius: 3px;
//   display: flex;
//   align-items: center;
//   justify-content: center;

// }

.component-name {
  font-weight: bolder;
}

.component-picture {
  width: 76%
}

#component-price {
  font-size: 29px;
}

.component-details {
  width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
  flex-direction: column;
}
.right-div {
  // background-color: $gray;
  flex: 0 0 450px;
  // width: 100%;
  height: 90vh;
  z-index: 95;
  border-radius: 2px;
}

.components {
  background-color: $light-gray;
  opacity: 0.6;
  position: relative;
  border-radius: 2px;
  width: 95%;
  height: 170px;
  z-index: 97;
  text-align: center;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: #979A96 solid 15px;
  transition: 0.15s;
}

.category-icon {
  max-width: 25px;
  margin-right: 15px;
}

.btn-finish {
  background-color: #FFCB47;
  border-color: #FFCB47;
  color: white;
  opacity: 0.8;
  transition: 0.15s;
  &:hover {
    opacity: 1;
  }
}
// .fa-arrow-right {
//   color: $orange;
//   font-size: 30px;
// }

// .skip {
//   color: $orange;
//   font-size: 15px;
//   font-family: "Roboto", sans-serif;
//   text-align: center;
//   a {
//     color: $orange;
//     text-decoration: none;
//   }

//   &:hover {
//     color: $orange;
//     text-decoration: none;
//   }
// }

// .skip-div {
//   width: 40px;
//   text-align: center;
//   position: absolute;
//   top: 2%;
//   right: 5%;
// }

.big-label {
  display: block;
  margin-bottom: 0;
  cursor: pointer;
  margin-left: 5%;
  button, input {
    visibility: hidden;
  }
}

.footer-image {
  width: auto;
  height: 10px;
}

.active, .components:hover {
  background-color: $light-gray;
  opacity: 1;
  color: black;
  border-left: $yellow solid 15px;
}

.component-button:checked ~ .components {
  background-color: $light-gray;
  opacity: 1;
  color: black;
  border-left: $yellow solid 15px;
}

#component-description {
  position: absolute;
  right: 1.5px;
  bottom: 13%;
  max-width: 700px;
  text-align: center;
  border-top: #979A96 solid 1px;
  font-size: 13px;
  padding-bottom: 5px;
}

.optional-steps {
  border-radius: 3px;
  text-align: center;
  // border: $orange solid 2px;
  // background-color: $orange;
  // opacity: 0.8;
  font-weight: bold;
  color: $orange;
  margin: 5px;
  padding: 5px;
  margin-right: 0px;
  margin-left: -15px;
}

// // .top-div-text {
// //   padding-top: 30px;
// //   padding-left: 50px;
// //   font-size: 25px;
// // }

// // .inner-div {
// //   background-color: $gray;
// //   position: relative;
// //   width: 100%;
// //   height: 610px;
// //   z-index: 95;
// // }

// // .right-inner-div {
// //   background-color: $gray;
// //   position: relative;
// //   width: 100%;
// //   height: 610px;
// //   z-index: 95;

// // }

// // .components {
// //   background-color: $light-gray;
// //   position: relative;
// //   width: 95%;
// //   height: 185px;
// //   z-index: 97;
// //   margin-left: 10px;
// //   margin-top: 10px;
// // }

// // .btn-primary {
// //   background-color: $yellow;
// //   width: 80px;
// //   border-style: none;
// // }


// // .btn-primary :hover {
// //       background-color: $yellow;
// //       width: 80px;
// //       border-style: none;
// //   }

// //   .btn-primary:disabled {
// //     background-color: $yellow;
// //     border-color: $yellow;
// //   }


// .case-container {
//   position: absolute;
//   top: 0;
//   left: 50%;
//   transform: translateX(-50%);
// }

// .wrapper {
//   position: relative;
//   height: calc(100vh - 50px);
// }

// .main-div {
//   background-color: #4B4253;
//   opacity: 0.5;

//   position: relative;
//   width: 100%;
//   height: 550px;
//   border-radius: 2px;
//   margin-top: 50px;
// }
