.order-done {
  font-family: $body-font;
  font-weight: lighter;
  margin-bottom: 37px;
}

.order-container {
  width: 100%;
  position: fixed;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 70px;
  text-align: center;
  height: 100%;
  overflow: hidden;

  img {
    max-height: 800px;
    max-width: 425px;
    bottom: 0;
  }

  h2 {
    padding-bottom: 20px;
    padding-right: 175px;
    padding-left: 175px;
    align-items: center;

    .order-done {
      margin: 0px;
    }
  }

  .order-home {
    margin-bottom: 53px;
  }
}

.order-container .cpu {
  margin-top: 71px;
}

.order-home a {

  border: 1px solid #ffcb47;
  text-decoration: none;
  padding: 12px;
  margin-left: auto;
  border-radius: 3px;
  color: #ffcb47;
  font-weight: bolder;
  opacity: 0.7;
  transition: 0.2s;
  font-size: 18px;
  padding-left: 32px;
  padding-right: 32px;

  &:hover {
    opacity: 1;
  }
}
