// Define variables for your color scheme

// For example:
$orange: #EF5B5B;
$dark-orange: #E13700;
$purple: #3A3042;
$yellow: #FFCB47;
$dark-purple: #23001E;
$gray: #5c5c5c;
$light-gray: #f7f7f7;
$black: #111111;
$medium-gray: #979A96;

