 .page-wrapper-computer-index {
    max-width: 900px;
    margin: 50px auto;
  }

.picture-container {
  display: flex;
  justify-content: center;
}

.payment-picture {
  width: auto;
  height: 400px;
}

.title-wrapper {
  display: flex;
  justify-content: center;
}

.top-border-title {
    font-size: 20px;
}

.top-border-title:before {
    content:'';
    display: block;
    margin: 0 auto;
    width: 20px;
    border-top: 3px solid gray;
    padding-top: 8px;
}

.list-container-computer-index {
  width: 100%;
  max-width: 100px;
}

.center-list {
  display: flex;
  justify-content: center;
  ol {
    line-height: 2;
  }
  ul {
    list-style-type: none;
    padding-left: 0px;
  }
}

.shipping-flex {
  display: flex;
  justify-content: space-around;
}
