// page alignment
.background-color-computer-index {
  background-color: #EFEFEF;
  padding: 20px 0px 40px 0px;
  min-height: calc(100vh - 100px);
  // added this min height thing becuase the content on this page can be very dynamic, you can have lots of computers or none
  }

// card styling
.card-container {
  min-height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: 0.3s;
  &:hover {
  background-color: #ffcb47;
    }
  }

.computer-text {
  color: black;
  font-weight: lighter;
  font-size: 14px;
  &:hover {
  text-decoration: none;
  color: black;
    }
  }

// custom title styles
.image-right-margin-on-title {
  margin-right: 15px;
  }

#saved-builds-title {
  font-weight: lighter;
  font-size: 20px;
  margin-bottom: 12px;
  }

#uncompleted-builds-title {
  font-weight: lighter;
  font-size: 20px;
  margin-bottom: 12px;
  }
