#show-computer-title {
  font-weight: lighter;
  font-size: 23px;
  }

.padding-top-bottom-computer-show {
  padding: 30px 0px 150px 0px;
   }

.name-category-item {
  min-height: 90px;
  position: relative;
  }

.delete-icon {
  position: absolute;
  top: 4px;
  right: 20px;
}

.price-btn-item {
  background-color: #e0e0e0;
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
  position: relative;
  height: 35px;
  transition: 0.3s;
  &:hover {
    background-color: #ffcb47;
    }
  }

.btn-edit-add {
    background-color: #ffffff;
    border-color: #ffcb47;
    color: black;
    font-size: 12px;
    font-weight: 800;
    padding: 2px 15px;
    border: none;
    border-radius: 1px;
    min-width: 56px;
    position: absolute;
    top: 7px;
    right: 10px;

  &:active {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
  }
  &:hover {
    background-color: #ffffff;
    border-color: #ffcb47;
    color: black;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }

.card-padding {
    padding: 0px 1px;
  }

.category {
    font-size: 11px;
  }

.price {
    color: white;
    position: absolute;
    top: 7px;
    left: 10px;
  }

.name {
  font-weight: bold;
  font-size: 15px;
}

// On screens that are 768px or less
// @media screen and (max-width: 768px) {
