// variables
$item-height: 130px;

// overall style and alignment of page

.background-color-computer-show {
  background-color: #EFEFEF;
  min-height: calc(100vh - 100px);
  }

.padding-top-bottom-computer-show {
  padding: 20px 0px 120px 0px;
  }

// subtle changes to bootstrap row padding

.card-padding {
  padding: 0px 1px;
  }

.card-row-margin {
  margin: 1px 0px;
  }

// specific styling of titles

#show-computer-title {
  font-weight: lighter;
  font-size: 23px;
  margin-bottom: 20px;
  margin-top: 22px;
  }

// card styling

.name-category-item {
  min-height: $item-height;
  position: relative;
  background-color: white;
  border-radius: 3px 3px 0px 0px;
}

.name-category-item-blank {
  min-height: $item-height;
  position: relative;
  background-color: white;
  border-radius: 3px 3px 0px 0px;
}

.image-background {
  position: relative;
  border-radius: 3px 3px 0px 0px;
  background-color: rgba(51, 51, 51, 0.1);
  transition: 0.3s;
  opacity: 0;
}

.component-item:last-child:hover {
  .category,
  .name {
    display: none;
  }

  .image-background {
    opacity: 1;
    height: $item-height;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.delete-icon {
  position: absolute;
  top: 15px;
  right: 20px;
  }

.delete-icon-color {
  color: #ffcb47;
  &:hover {
    color: #ffcb47;
  }
}

.price-btn-item {
  background-color: #B3B0B0;
  position: relative;
  height: 40px;
  transition: 0.3s;
  border-radius: 0px 0px 2px 2px;
  &:hover {
    background-color: #ffcb47;
    }
  }

.btn-edit-add {
  background-color: #ffffff;
  border-color: #ffcb47;
  color: black;
  font-size: 12px;
  font-weight: 800;
  padding: 2px 15px;
  border: none;
  border-radius: 1px;
  min-width: 56px;
  position: absolute;
  top: 10px;
  right: 10px;
  &:active {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
    }
  &:hover {
    background-color: #ffffff;
    border-color: #ffcb47;
    color: black;
    }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }

.category {
  font-size: 11px;
  }

.name {
  font-weight: bold;
  font-size: 12px;
  margin: 0px 8px;
  }

.price {
  color: white;
  position: absolute;
  top: 10px;
  left: 60px;
  }

.component-icons {
  position: absolute;
  top: 8px;
  left: 20px;
  }
