<div class="page-wrapper-computer-index">

  <div class="completed-computers">
    <div class="title-wrapper">
    <h3 class="top-border-title my-4">Your completed builds</h3>
    </div>
    <div class="center-list">
      <div class="list-container-computer-index">
        <ul>
        <% @computers.each do |c| %>
          <% if c.is_computer_completed? %>
          <li>
            <%= link_to "Computer: #{@computers.index(c) + 1}", computer_path(c) %>
          </li>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="uncompleted-computers">
    <div class="title-wrapper">
      <h3 class="top-border-title my-4">Uncompleted builds</h3>
    </div>
    <div class="center-list">
      <div class="list-container-computer-index">
        <ul>
        <% @computers.each do |c| %>
          <% if !c.is_computer_completed? %>
          <li>
            <%= link_to "Computer: #{@computers.index(c) + 1}", computer_path(c) %>
          </li>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="footer-position">
  <%= render 'layouts/footer' %>
</div>

<!-- Shows how many components completed -->

<!-- {c.completed_categories.size} / #{Spec::STEPS.size}  -->


