<div class="container">

  <h1>Your custom computer</h1>

  <% @computer.components.each do |component| %>

        <div class="category"><%= component.category.display_name %></div>
        <div class="name"><%= component.name %></div><div class="price">$<%= component.price %></div>
        <div class="btn btn-primary"><%= link_to "Edit", computer_components_path(@computer.id, category: component.category.slug) %></div>
        <% end %>


</div>
