// overall style and alignment of page

.background-color-payment-new {
  background-color: #EFEFEF;
  }

.padding-top-bottom-payment-new {
  padding: 60px 0px 30px 0px;
  }

// subtle changes to bootstrap row padding

.card-padding {
  padding: 0px 1px;
  }

.card-row-margin {
  margin: 1px 0px;
  }

// specific styling of titles

#payment-computer-title {
  font-weight: lighter;
  font-size: 23px;
  margin-bottom: 30px;
  }

#shipping-title {
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 12px;
  }

#additional-info-title {
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 12px;
  }

// card styling

.name-category-item {
  min-height: 90px;
  position: relative;
  background-color: white;
  }

.price-btn-item {
  background-color: #e0e0e0;
  position: relative;
  height: 35px;
  transition: 0.3s;
  &:hover {
    background-color: #ffcb47;
    }
  }

.category {
  font-size: 11px;
  }

.price {
  color: white;
  position: absolute;
  top: 7px;
  left: 60px;
  }

.name {
  font-weight: bold;
  font-size: 15px;
}

.component-icons {
  position: absolute;
  top: 6px;
  left: 20px;
  }

// classes that allow for style at bottom of page

.card-padding-payment {
  padding: 0px 0px;
  }

.middle-line-break {
  border-left: 6px solid white;
  }

.shipping-info-wrapper {
  border-top: 6px solid white;
  }

.additional-information {
  margin-top: 16px;
  margin-left: 20px;
  margin-bottom: 35px;
  p {
    font-weight: lighter;
    font-size: 14px;
    margin-bottom: 10px;
    color: #55585c;
    }
  }

.delivery-address {
  margin-top: 16px;
  margin-bottom: 35px;
  p {
  font-weight: lighter;
  font-size: 14px;
  margin-bottom: 10px;
  color: #55585c;
    }
  }
