// variables
$item-height: 130px;

// overall style and alignment of page

.background-color-payment-new {
  background-color: #EFEFEF;
  min-height: calc(100vh - 100px);
  }

.padding-top-bottom-payment-new {
  padding: 20px 0px 70px 0px;
  }

.padding-bottom-table {
  padding-bottom: 30px;
  }

// subtle changes to bootstrap row padding

.card-padding {
  padding: 0px 1px;
  }

.card-row-margin {
  margin: 1px 0px;
  }

// specific styling of titles

#payment-computer-title {
  font-weight: lighter;
  font-size: 23px;
  margin-bottom: 20px;
  margin-top: 22px;
  }

#shipping-title {
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 12px;
  }

#additional-info-title {
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 12px;
  }

// card styling

.name-category-item {
  min-height: 130px;
  position: relative;
  background-color: white;
  border-radius: 3px 3px 0px 0px;
  }

.price-btn-item {
  background-color: #B3B0B0;
  position: relative;
  height: 40px;
  transition: 0.3s;
  border-radius: 0px 0px 2px 2px;
  &:hover {
    background-color: #ffcb47;
    }
  }

.category {
  font-size: 11px;
  }

.price {
  color: white;
  position: absolute;
  top: 10px;
  left: 60px;
  }

.name {
  font-weight: bold;
  font-size: 12px;
  margin: 0px 8px;
}

.component-icons {
  position: absolute;
  top: 8px;
  left: 20px;
  }

// classes that allow for style at bottom of page

.card-padding-payment {
  padding: 0px 0px;
  }

.middle-line-break {
  // border-left: 6px solid white;
  }

.shipping-info-wrapper {
  // border-top: 6px solid white;
  margin-left: 35px;
  }

.additional-information {
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 35px;
  p {
    font-weight: lighter;
    font-size: 14px;
    margin-bottom: 10px;
    color: #55585c;
    }
  }

.delivery-address {
  margin-top: 40px;
  margin-bottom: 35px;
  margin-left: 20px;
  p {
  font-weight: lighter;
  font-size: 14px;
  margin-bottom: 10px;
  color: #55585c;
    }
  }

.btn-edit-computer {
  background-color: #ffffff;
  border-color: #ffcb47;
  color: #ffcb47;

  &:active {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    opacity: 0.8 !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
  }
  &:hover {
    background-color: #ffcb47;
    color: white;
    border-color: #ffcb47;
    // opacity: 0.8;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}
