.row-signup {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signup-div {
  margin-bottom: 7px;
  background-color: #f7f7f7;
  width: 100%;
  position: fixed;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.form-actions-signup {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 35px;

  input:hover {
    transition: all .15s ease-in-out;
    opacity: 0.7;
    color: white;
    width: 50%;
  }

  input {
    border-radius: 2px !important;
    width: 50%;
    height: 50px;
    font-weight: 900;
    background-color: #ffcb47;
    border-color: #ffcb47;
    color: white;
    margin-top: 25px;
    margin-left: 0px;
    box-shadow: 0px 1px 6px rgba(45, 45, 45, 0.2);
  }
}
