<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="home-div1">
        <p class="main-title">Node Labs</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="subtitle-div">
        <p class="sub-title">The ultimate path to your dream gaming machine.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="home-div2">
        <div class="home-base-line">Create your custom gaming computer with a few simple steps. No experience, no worries. </div>
        <%= image_tag("larger-images/case-large.png", :alt => "video-games") %>
        <%= link_to "Start Now", computers_path, method: :create, class: "btn btn btn-primary home-btn"  %>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-12">
      <div class="home-div3">
        <div class="home-help-baseline">Need help starting?</div>
        <%= link_to "Get Started", computers_path, method: :create, class: "btn btn btn-primary help-home-btn"  %>
      </div>
    </div>
  </div>




