.stripe-button-el span,.stripe-button-el {
  display: none !important;
}


@media screen and (max-width: 800px) {

  .pricing-footer {
    background-color: #F4F4F4;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 5px 25px;
    color: rgba(0,0,0,0.4);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;

    img {
      display: none;
    }

    p {
      margin: 0px;
      color: black;
      font-size: 20px;
      font-weight: 900;
    }

    .empty {
      flex-grow: 1;
    }

    .btn {
      height: 35px;
      width: 80px;
      font-size: 12px;
      margin: 7px;
      padding: 3px;
    }
  }
}

@media screen and (min-width: 801px) {

  .pricing-footer {
    background-color: #F4F4F4;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 5px 50px;
    color: rgba(0,0,0,0.4);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;

    img {
      // background-color: white;
      // border: solid 1px black;
      height: 40px;
      width: 30px;
      margin-right: 25px;
    }

    p {
      margin: 0px;
      color: black;
      font-size: 24px;
      font-weight: 900;
      border-left: solid 1px black;
      padding-left: 25px;
    }

    .empty {
      flex-grow: 1;
    }

    .btn {
      height: 39px;
      width: 110px;
      font-size: 18px;
      margin: 10px;
      padding: 5px;
    }
  }
}

.btn-buy {
  background-color: #ffffff;
  border-color: #ffcb47;
  color: #ffcb47;

  &:active {
    background-color: #ffcb47 !important;
    border-color: #ffcb47 !important;
    opacity: 0.6 !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
  }
  &:hover {
    background-color: #ffcb47;
    border-color: #ffcb47;
    opacity: 1;
    color: white;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}

.btn-save {
    background-color: #ffffff;
    border-color: #ffcb47;
    color: #ffcb47;

  &:active {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    opacity: 0.8 !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
  }
  &:hover {
    background-color: #ffcb47;
    color: white;
    border-color: #ffcb47;
    // opacity: 0.8;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}
