.stripe-button-el span,.stripe-button-el {
  display: none !important;
}


@media screen and (max-width: 800px) {

  .pricing-footer {
    background-color: #F4F4F4;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 5px 25px;
    color: rgba(0,0,0,0.4);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;

    img {
      display: none;
    }

    p {
      margin: 0px;
      color: black;
      font-size: 22px;
      font-weight: 900;
    }

    .empty {
      flex-grow: 1;
    }

    .btn {
      height: 35px;
      width: 80px;
      font-size: 12px;
      margin: 7px;
      padding: 3px;
    }
  }
}

@media screen and (min-width: 801px) {

  .pricing-footer {
    background-color: #F4F4F4;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 5px 50px;
    color: rgba(0,0,0,0.4);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;

    img {
      // background-color: white;
      // border: solid 1px black;
      height: 60px;
      width: 50px;
      margin-right: 25px;
    }

    p {
      margin: 0px;
      color: black;
      font-size: 32px;
      font-weight: 900;
      border-left: solid 1px black;
      padding-left: 25px;
    }

    .empty {
      flex-grow: 1;
    }

    .btn {
      height: 55px;
      width: 175px;
      font-size: 20px;
      margin: 10px;
      padding: 5px;
    }
  }
}

.btn-success {
  background-color: $orange;
  border-color: $orange;

  &:hover {
    background-color: $orange;
    border-color: $orange;
    opacity: 0.6;
  }
}
