<div class="footer-container">

  <div><%= image_tag("icons/australia_flag.png", :alt => "Australia", class: "footer-country-icon") %></div>
  <div class="footer-country-text">Australia</div>
  <div class="footer-text">© 2018 Node Labs Ltd. All Rights Reserved.</div>

  <div class="footer-links">
    <p>Privacy Policy</p>
    <p>Terms of Sales</p>
    <p>Terms of Use</p>
    <p>Guides</p>
  </div>

</div>
